host      = 'voice01'
domain    = 'wimdu.com'
fqdn      = "#{host}.#{domain}"
ipaddress = '33.33.33.100'

Vagrant.configure('2') do |config|

  config.vm.define host do |config|
  # config.vm.network             :forwarded_port, guest: 5900, host: 5900, auto_correct: true
    config.vm.network             :private_network, ip: ipaddress
    config.vm.box               = 'dkm'
    config.vm.box_url           = 'http://dokmatic-cdn.s3.amazonaws.com/chef/dkm.box'
    config.vm.hostname          = fqdn
  # config.vm.synced_folder       '.', '/vagrant', type: 'nfs'
    config.ssh.forward_agent    = true
  # config.ssh.private_key_path = '~/.ssh/id_rsa'
    config.omnibus.chef_version = :latest
  end

  config.vm.provider 'virtualbox' do |v|
    v.customize ['modifyvm', :id, '--memory', '4096', '--cpus', '4']
    v.customize ['modifyvm', :id, '--natdnshostresolver1', 'on']
    v.customize ['modifyvm', :id, '--natdnsproxy1', 'on']
    v.customize ['modifyvm', :id, '--ioapic', 'on']
  end

  config.vm.provision :chef_solo do |chef|
    chef.custom_config_path = 'Vagrantfile.chef'
    chef.cookbooks_path     = 'cookbooks'
    chef.roles_path         = 'roles'
    chef.node_name          =  host
    chef.log_level          = :info
    chef.add_role('desktop')

    chef.json = {
      'etc' => {
        'external_ip' => ipaddress
      },
      'git' => {
        'user' => {
          'name'      => 'Change Me',
          'email'     => 'change@me.com'
        },
        'github' => {
          'user'      => 'changeme',
          'token'     => 'replaceme'
        },
      },
      'sipgate' => {
        'activate'    =>  false,
        'pass'        => 'replaceme',
        'trunk'       => 'replaceme',
        'number'      => 'replaceme'
      },
      'skype' => {
        'activate'    =>  false,
        'pass'        => 'replaceme',
        'trunk'       => 'replaceme'
      }
    }
  end
end
