### Compulsory parameters - START

# These are the minimal required options to be set before the initial provisioning.
# It might not be possible to change them later on without manual tweaking.
#
# For convenient interaction with the VM, add its IP address and hostname:
#
# - to your /etc/hosts file:
#   33.33.33.100 voice01.wimdu.com
#
# - to your ~/.ssh/config file:
#   Host voice01
#     HostName voice01.wimdu.com
#     IdentityFile ~/.vagrant.d/insecure_private_key
#     User vagrant
#
# and include the certs/server.crt with your SSL-key management.
#
# Be aware, that the provided SSL certificate is publicly available and gives
# no real security. You can easily replace it by copying your own server
# certificate to the following places after the first provisioning:
#
#  /etc/asterisk/asterisk.pem (owner asterisk, mode 0600)
#  /etc/asterisk/ca.crt       (owner asterisk, mode 0640)
#  /opt/nginx/conf/server.key (owner wim/vagr, mode 0600)
#  /opt/nginx/conf/server.crt (owner wim/vagr, mode 0640)
#  /etc/postfix/cacert.pem    (owner postfix,  mode 0600)

host            = 'voice01'                 # Host name of the new virtual node
domain          = 'wimdu.com'               # Domain name of the VM
fqdn            = "#{host}.#{domain}"       # Used for Asterisk- and Nginx access

ipaddress       = '33.33.33.100'            # Ip address of external VM interface
gateway         = '33.33.33.1'              # Ip address of VM gateway
interface       = 'eth0'                    # External interface of the VM

localnet        = '192.168.178.0'           # Environmental local net, used for routing
netmask         = '255.255.255.0'           # Netmask of environmental local net

chef_role       = 'desktop'                 # Set to 'server' for production-environments
gitbase         = 'git://github.com/fwoeck' # Set to 'git@github.com:<gh-user>' for private forks

ami_pass        = '<password>'              # Used to communicate with the Asterisk AMI
mysql_wim_pass  = '<password>'              # Used for regular DB connections
mysql_root_pass = '<password>'              # Used for root access to MySQL
rabbitmq_pass   = '<password>'              # Used to access the AMQP-queue and its FE
vnc_pass        = '<password>'              # Used to connect to the local VNC server

rails_keybase   = '<a-long-unique-key>'     # Used for rails' session management
admin_email     = '<your-email-address>'    # Serves as admin login to the rails FE
admin_fullname  = '<your-full-name>'        # The admin's full name
admin_password  = '<password>'              # Used as password for FE-login
admin_secret    = '0000'                    # Used as SIP secret for asterisk login
admin_name      = '999'                     # The admin's SIP extension/name

### Compulsory parameters - FINISH


Vagrant.configure('2') do |config|

  config.vm.define host do |config|
    config.vm.network             :private_network, ip: ipaddress
    config.vm.box               = 'voice-base'
    config.vm.box_url           = 'http://dokmatic-cdn.s3.amazonaws.com/wimdu/voice-base.box'
    config.vm.hostname          = fqdn

    config.ssh.forward_agent    = true
    config.omnibus.chef_version = :latest
  end


  config.vm.provider 'virtualbox' do |v|
    v.customize ['modifyvm', :id, '--memory', '6144', '--cpus', '4']
    v.customize ['modifyvm', :id, '--natdnshostresolver1', 'off']
    v.customize ['modifyvm', :id, '--natdnsproxy1', 'off']
    v.customize ['modifyvm', :id, '--ioapic', 'on']
    v.auto_nat_dns_proxy = false
  end


  config.vm.provision :chef_solo do |chef|
    chef.custom_config_path = 'Vagrantfile.chef'
    chef.cookbooks_path     = 'cookbooks'
    chef.roles_path         = 'roles'
    chef.node_name          =  host
    chef.log_level          = :info

    chef.add_role(chef_role)

    chef.json = {
      'ahn' => {
        'ami_pass' => ami_pass
      },
      'aws' => {
        'gpg_pass'  => '<password>',
        'key_id'    => '<your-aws-key-id>',
        'secret'    => '<your-aws-secret>',
        's3_backup' => false,
        's3_bucket' => 's3-eu-west-1.amazonaws.com/<bucket-name>'
      },
      'crm_provider' => {
        'activate'   => false,
        'name'       => 'Zendesk',
        'user'       => '<your-email>',
        'pass'       => '<password>',
        'domain'     => '<zendesk-domain>',
        'api_url'    => 'https://<zendesk-domain>.zendesk.com/api/v2',
        'user_url'   => 'https://<zendesk-domain>.zendesk.com/agent/#/users/USERID/requested_tickets',
        'ticket_url' => 'https://<zendesk-domain>.zendesk.com/agent/#/tickets/TID'
      },
      'etc' => {
        'domain'          => domain,
        'external_ip'     => ipaddress,
        'ext_interface'   => interface,
        'deployment_host' => '<ext-production-host>',
        'ip_blacklist'    => ['23.250.10.130', '37.8.0.0/16', '37.59.0.0/16', '37.75.0.0/16', '37.187.0.0/16'],
        'ip_whitelist'    => [gateway],
        'gateway'         => gateway,
        'local_net'       => localnet,
        'local_mask'      => netmask
      },
      'git' => {
        'gitbase' => gitbase,
        'user' => {
          'name'  => '<your-name>',
          'email' => '<your-git-email>'
        },
        'github' => {
          'user'  => '<your-github-user>',
          'token' => '<password>'
        }
      },
      'mysql' => {
        'wim_pass'  => mysql_wim_pass,
        'root_pass' => mysql_root_pass
      },
      'rabbitmq' => {
        'pass' => rabbitmq_pass
      },
      'sip_provider' => {
        'activate'   => false,
        'pass'       => '<password>',
        'trunk'      => '<your-sip-user>',
        'number'     => '<your-sip-number>',
        'sms' => {
          'apihost'  => 'api.sipgate.net',
          'password' => '<password>',
          'user'     => '<your-sms-user>'
        },
        'proxy'      => 'sipconnect.sipgate.de'
      },
      'skype' => {
        'activate' => false,
        'pass'     => '<password>',
        'trunk'    => '<your-sip-user>',
        'proxy'    => 'sip.skype.com'
      },
      'smtp' => {
        'activate'    => false,
        'mail_domain' => '<local-mx-host>',
        'mail_from'   => '<system-from-address>',
        'mail_to'     => '<system-to-address>',
        'address'     => 'email-smtp.eu-west-1.amazonaws.com',
        'port'        => '587',
        'username'    => '<your-smtp-user>',
        'password'    => '<password>'
      },
      'vnc' => {
        'password' => vnc_pass
      },
      'voice_rails' => {
        'keybase'    => rails_keybase,
        'admin' => {
          'email'    => admin_email,
          'fullname' => admin_fullname,
          'password' => admin_password,
          'secret'   => admin_secret,
          'name'     => admin_name
        }
      },
      'wim' => {
        'sudoer' => true
      }
    }
  end
end
